/* css styles */
.button:hover {
  transform: scale(1.03);
  opacity: 80%;
}

.button {
  border-radius: 25px;
}

.left-centered {
  position: absolute; 
  top: 45%; 
  transform: translate(0,-80%);
}

.right-centered {
  position: absolute; top: 45%; right: 0%; transform: translate(0,-80%);
}

.glidecontent {
  padding-left: 40px; 
  padding-right: 40px; 
  padding-bottom: 10px;
  height: auto;
}